echo "loading .aliases....."

#setup for rmate
alias mAte="rmate -v -w "

alias wH="which -a"
alias hS="history | grep "
alias lS="ls -al"
alias fD="find ~/ -name "
alias pS="ps ax | grep "
alias bF="brew info"
alias bS="brew search"
alias bI="brew install "
alias bC="brew cleanup && brew prune"
alias bE="brew edit "
alias bU="brew update -v && brew upgrade -v"
alias bL="brew list"
alias hE="./configure --help"
alias rM="rm -rf "
alias sSh="ssh -o ServerAliveInterval=200 tvctopin@tvctop.info"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" 
alias -- -="cd -"

## Shortcuts
alias dL="cd /home7/tvctopin/public_html/dl/source"
alias wR="cd ~/public_html"
alias tP="cd /home7/tvctopin/var/tmp"

## Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
	colorflag="--color"
else 
	colorflag="-G"
fi

## List all files colorized in long format
alias lL="ls -l ${colorflag}"

## List all files colorized in long format, including dot files
alias lA="ls -la ${colorflag}"

## List only directories
alias lD='ls -l ${colorflag} | grep "^d"'

## Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Gzip-enabled `curl`
alias gurl='curl --compressed'



## Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"


## Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'


# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"